server.port={{ enc_server_port }}
spring.profiles.active=prod
spring.output.ansi.enabled=always
server.servlet.context-path={{ enc_prefix_path }}
springdoc.api-docs.path=/api-docs
springdoc.swagger-ui.path=/swagger-ui.html
springdoc.default-produces-media-type=application/json;charset=UTF-8
springdoc.remove-broken-reference-definitions=false
spring.jackson.deserialization.fail-on-unknown-properties=true
debug=true
logging.level.root=DEBUG

